


<html style="margin-top:0 !important"><head>
<style>
@media (max-width: 767px)
{
#main-header {
    display: block !important;
} 
  }
</style>
<link rel="stylesheet" href="https://paytmofferlive.wpengine.com/wp-content/themes/twentytwelve/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Merchant Contest</title>
<script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script src="https://connect.facebook.net/en_US/sdk.js?hash=d4f2561e95f91373068efbd58b91de78&amp;ua=modern_es6" async="" crossorigin="anonymous"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js"></script><script src="https://connect.facebook.net/signals/config/707949589280443?v=2.9.15&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    /*Auto Noidex Code Start*/  
$(document).ready(function(){
   if(window.location.href.indexOf("paytmofferlive.wpengine.com/") > -1)
   {$("head").prepend('<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">');}
  
  /*Mmenu JS*/    
  $("div").on("click",".Mmenu img",function(){
    $(".headerOFF").addClass("Mblock");
    $(".overLmenu").show();   
    $("html").addClass('nooverflow');   
    
  });
  $("div").on("click",".Mblock .menuList li",function(){    
    if($(this).hasClass("showMenu"))
      {       $(".Mblock .menuList li").removeClass("showMenu");
        $(".Mblock .menuList li .submenu").hide(100);
        return false;       
      }
    else
      {$(".Mblock .menuList li").removeClass("showMenu");
        $(this).addClass("showMenu");
        $(".Mblock .menuList li .submenu").hide(100);
        $(this).children(".submenu").show(200);
        return false;
      }
    
  }); 
  $("div").on("click",".Mblock .menuList li li",function(){   
    var menuURL=$(this).parent("a").attr("href");
    window.open(menuURL);
  });   
  $(".overLmenu").click(function(){
    $(".headerOFF").removeClass("Mblock");
    $(".overLmenu").hide(100);
    $("html").removeClass('nooverflow');
    
  });
  /*Mmenu JS*/
  
  /*CDN*/
  $(this).html().replace("https://cdn1-offer.paytm.com/","https://paytm.com/offer/");
  $(this).html().replace("https://cdn2-offer.paytm.com/","https://paytm.com/offer/");
  $(this).html().replace("https://cdn3-offer.paytm.com/","https://paytm.com/offer/");
});
/*Auto Noidex Code End */


</script>

<!-- All in One SEO Pack 2.7.2 by Michael Torbert of Semper Fi Web Design[597,628] -->
<link rel="canonical" href="https://paytm.com/offer/merchant-contest/">
<meta property="og:title" content="Merchant Contest">
<meta property="og:type" content="article">
<meta property="og:url" content="https://paytm.com/offer/merchant-contest/">
<meta property="og:image" content="https://paytmofferlive.wpengine.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">
<meta property="og:site_name" content="Paytm">
<meta property="article:published_time" content="2018-03-28T07:24:38Z">
<meta property="article:modified_time" content="2018-04-12T10:31:11Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Merchant Contest">
<meta name="twitter:image" content="https://paytmofferlive.wpengine.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">
<meta itemprop="image" content="https://paytmofferlive.wpengine.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">
<!-- /all in one seo pack -->
<link rel="dns-prefetch" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="stylesheet" id="wp-block-library-css" href="https://paytmofferlive.wpengine.com/wp-includes/css/dist/block-library/style.min.css?ver=5.2.5" type="text/css" media="all">
<link rel="stylesheet" id="press_css-css" href="https://paytmofferlive.wpengine.com/wp-content/plugins/paytm-press-release/stylesheet.css?ver=5.2.5" type="text/css" media="all">
<link rel="stylesheet" id="twentytwelve-fonts-css" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&amp;subset=latin,latin-ext" type="text/css" media="all">
<link rel="stylesheet" id="twentytwelve-style-css" href="https://paytmofferlive.wpengine.com/wp-content/themes/twentytwelve/style.css?ver=5.2.5" type="text/css" media="all">
<!--[if lt IE 9]>
<link rel='stylesheet' id='twentytwelve-ie-css'  href='https://paytmofferlive.wpengine.com/wp-content/themes/twentytwelve/css/ie.css?ver=20121010' type='text/css' media='all' />
<![endif]-->
<link rel="stylesheet" id="wp-social-sharing-css" href="https://paytmofferlive.wpengine.com/wp-content/plugins/wp-social-sharing/static/socialshare.css?ver=1.6" type="text/css" media="all">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="https://api.w.org/" href="https://paytmofferlive.wpengine.com/wp-json/">
<!-- HeadSpace SEO 3.6.41 by John Godley - urbangiraffe.com -->
<!-- HeadSpace -->
  <style type="text/css" id="twentytwelve-header-css">
      .site-title,
    .site-description {
      position: absolute;
      clip: rect(1px 1px 1px 1px); /* IE7 */
      clip: rect(1px, 1px, 1px, 1px);
    }
    </style>
  <style type="text/css" id="custom-background-css">
body.custom-background { background-color: #ffffff; }
</style>
  <style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_dialog_advanced{border-radius:8px;padding:10px}.fb_dialog_content{background:#fff;color:#373737}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{left:5px;right:auto;top:5px}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{height:100%;left:0;margin:0;overflow:visible;position:absolute;top:-10000px;transform:none;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{background:none;height:auto;min-height:initial;min-width:initial;width:auto}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{clear:both;color:#fff;display:block;font-size:18px;padding-top:20px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .4);bottom:0;left:0;min-height:100%;position:absolute;right:0;top:0;width:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_mobile .fb_dialog_iframe{position:sticky;top:0}.fb_dialog_content .dialog_header{background:linear-gradient(from(#738aba), to(#2c4987));border-bottom:1px solid;border-color:#043b87;box-shadow:white 0 1px 1px -1px inset;color:#fff;font:bold 14px Helvetica, sans-serif;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:linear-gradient(from(#4267B2), to(#2a4887));background-clip:padding-box;border:1px solid #29487d;border-radius:3px;display:inline-block;line-height:18px;margin-top:3px;max-width:85px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{background:none;border:none;color:#fff;font:bold 12px Helvetica, sans-serif;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #4a4a4a;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f5f6f7;border:1px solid #4a4a4a;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-position:50% 50%;background-repeat:no-repeat;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}</style><script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/963987476/?random=1579349635166&amp;cv=9&amp;fst=1579349635166&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=800&amp;u_w=1280&amp;u_ah=733&amp;u_aw=1280&amp;u_cd=24&amp;u_his=1&amp;u_tz=330&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2wg181&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Fpaytm.com%2Foffer%2Fmerchant-contest%2F&amp;ref=https%3A%2F%2Fwww.google.com%2F&amp;tiba=Merchant%20Contest&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script><style id="__web-inspector-hide-shortcut-style__">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
{
    visibility: hidden !important;
}
</style></head>

<body>

 <div class="overLmenu"></div>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PTT2P2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName('body')[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.appendChild(j);
})(window,document,'script','dataLayer','GTM-PTT2P2');</script><script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-PTT2P2"></script>
<!-- End Google Tag Manager -->
<script type="text/javascript">
 window.dataLayer = window.dataLayer || [];
 dataLayer.push({
      'event': 'pageViewLoad',
      'pageTitle': 'Exclusive Paytm Offers',
      'pageName': 'Offer Page',
      'pageViewPath' : window.location.href
    });
</script>
  <div id="main-header">

  <style>
    .nooverflow{overflow: hidden !important; position: fixed;}
.inner-container {text-align: center;}
/*.inner-container ul {padding: 0px !important;margin: 0px !important;}
.inner-container ul li {list-style: none !important; display: inline-block; width:105px; text-align: center; color: #fff; font-size: 12px; padding: 0px ; margin: 10px 0px 0px 0px;}
.inner-container ul li img {width: 32px; margin: 5px auto;}*/
    .Mblock{left: 0 !important;  transition: all 300ms; }
      @media(max-width:1000px)
      {
        ul.menuList {    padding: 30px 20px !important;}
        ul.menuList li:hover,ul.menuList li:active,ul.menuList li:visited,ul.menuList li:focus {color: #000 !important;}
        ul.menuList li { display: block !important;    width: 100% !important;    text-align: left !important;    color: #000 !important; position: relative;}
        ul.menuList li.mianmenu::before{content:""; background-image: url("https://paytmofferlive.wpengine.com/wp-content/uploads/2019/02/forward@2x.png"); background-repeat: no-repeat; height: 10px; width: 10px; position: absolute; right: 10px; top: 20px; background-size: 100%; transition: all 100ms;}
        ul.menuList li.showMenu::before{ transform: rotate(180deg) !important;}
        .overLmenu{ position: fixed; width: 100%; background: rgba(0,0,0,0.45); top: 0; left: 0; z-index: 9; display: none;
    height: 100%;}
        .headerOFF{display: block !important;background: #fefefe !important; transition: all 100ms;    min-height: 100px; height: 100%;   position: fixed;    top: 0;    left: -100%;    width: 80%; z-index: 99;    overflow-y:scroll;    overflow-x:hidden; }  
        #main-header,.Mhidden-xs{display: block !important;}  
        .Mmenu {    float: left;    margin-right: 30px;}
        .Mmenucash {    float: right; }
        .Mmenucash img {    width: 45px;  position: relative;}
        .logoPaytm {  /*  width: 145px !important;    height: 55px !important; */   float: left; /*background-size: 80%;   background:url(https://paytmofferlive.wpengine.com/wp-content/uploads/2019/02/Header-7th-dec_11.jpg) no-repeat 0 0;*/}
        .Mhidden-xs.Mmenu img {    width: 22px;}  
        .menuList li div, .menuList li img {    display: inline-block !important; margin: 0px !important; margin-left: 10px;}
        .submenu{padding-left: 40px;display: none;}
      }
      @media(min-width:1001px)
      {
        #page.site {    margin: -20px auto 0 !important;}
        .Mhidden-xs{display: none !important;}        
        ul.menuList li:hover {color: #fff !important; }
      }
       
      .headerOFF {background: #012b72;    min-height: 100px;}
      .headerOFF a {text-decoration: none !important;  padding: 0px !important;  margin: 0px !important;}
      #more:hover .drpdwnMenu{display: block !important;}
      .drpdwnMenu div {display: inline-block;    vertical-align: middle;}
      .drpdwnMenu::before{width: 0;   height: 0;   border-left: 15px solid transparent;  border-right: 15px solid transparent;   border-bottom: 15px solid #fff; content: ""; position: absolute; top: -7px; right: 40px;}
      ul.drpdwnMenu{display: none; padding: 0px !important;    margin: 0px !important;    width: 200px;    position: absolute;    top: 75px;    z-index: 9;    right: 0px;    box-shadow: 0px 2px 5px #666;    border-radius: 10px;    border: 1px solid #aaa;    background: #fff;}
      ul.drpdwnMenu li {list-style: none !important; display: block !important; width:95% !important;  margin: 0px auto !important;text-align: left !important; color: #142b72 !important; font-size: 13px !important; padding:5px 10px !important; border-bottom: 1px solid #ddd;}
      ul.menuList {padding: 0px ;margin: 0px auto;    max-width: 1200px;    position: relative;}
      ul.menuList li {list-style: none !important; display: inline-block; min-width: 6.7%; text-align: center;   color: #8095b8; font-size: 12px; padding: 10px 0px ; margin: 0px 0.5%;}
      ul.menuList li img {height: 24px; margin: 10px 0px 10px 0px;   vertical-align: middle;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;}
      ul.drpdwnMenu li img {    margin: 5px auto !important;}
      ul.drpdwnMenu li:hover {    color: #000 !important;}
    .inner-container {width: 100% !important;}
    #more{cursor: pointer;}
    #more img{width: 35px;    height: auto !important;    margin-top: -15px;}
</style>
    <div id="user-detail">
      <div class="container-menu">
        <div class="headerInfo">
        <div class="Mhidden-xs Mmenu">
          <img src="https://paytmofferlive.wpengine.com/wp-content/uploads/2019/02/Header-7th-dec_09.jpg" alt="Menu">
        </div>
          <div class="logoInfo">
            <a href="http://www.paytm.com" class="logoPaytm"> </a>
          </div>  
          
        <div class="Mhidden-xs Mmenucash">
          <a href="https://paytm.com/offer/app-super-cashback" target="_blank"><img src="https://paytmofferlive.wpengine.com/wp-content/uploads/2019/02/Header-7th-dec_13.jpg" alt="Cashback"></a>
        </div>        
          <div class="clear"></div>
        </div>
      </div>
    <div class="headerOFF">
                <div class="inner-container">
                          <ul class="menuList">
                            <a href="https://paytm.com/recharge" target="_blank"><li>
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/83920/1477307253581.png">
         <div>Mobile Prepaid</div></li></a>
         <a href="https://paytm.com/mobile-bill-payment" target="_blank"><li>
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/431162/1562240946859.png">
         <div>Mobile Postpaid</div></li></a>
         <a href="https://paytm.com/electricity-bill-payment" target="_blank"><li>
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/83923/1477307361441.png">
         <div>Electricity</div></li></a>
         <a href="https://paytm.com/dth-recharge" target="_blank"><li>
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/220357/1527683407653.png">
         <div>DTH Recharge</div></li></a>
         <a href="https://paytm.com/metro-card-recharge" target="_blank"><li>
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/83932/1486537235966.png">
         <div>Metro</div></li></a>
         <a href="https://paytm.com/landline-bill-payment" target="_blank"><li>
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/83926/1477307460222.png">
         <div>Landline</div></li></a>
         <a href="https://paytm.com/broadband-bill-payment" target="_blank"><li>
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/83936/1527492434217.png">
         <div>Broadband</div></li></a>
         <a href="https://catalog.paytm.com/v1/mobile/product/131709010?src=store&amp;from=storefront" target="_blank"><li>
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/315135/1576644959956.png">
         <div>Buy FASTag</div></li></a>
         <a href="https://paytm.com/education/explore/exam/777/management-aptitude-test" target="_blank"><li>
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/481409/1578315411198.png">
         <div>AIMA MAT Form</div></li></a>
         <a href="https://paytm.com/firstgames/?utm_source=paytm_web&amp;utm_medium=smart_icon&amp;utm_campaign=app_download" target="_blank"><li>
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/423273/1572325086416.png">
         <div>Paytm First Games</div></li></a>
         <a href="https://paytmmoney.com?utm_source=Paytm&amp;utm_medium=Web_Banner_Icon&amp;utm_campaign=PaytmMoney" target="_blank"><li>
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/464347/1570100072978.png">
         <div>Paytm Money</div></li></a>
            <li id="more"><img src="https://paytmofferlive.wpengine.com/wp-content/uploads/2018/12/more_menu.png">
         <div>More</div>
         <ul class="drpdwnMenu">
     <a href="https://paytm.com/digitalgold" target="_blank"><li>      
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/475276/1572416974740.png">
         <div>Gold</div></li></a>
         <a href="https://paytm.com/cylinder-gas-recharge" target="_blank"><li>      
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/244549/1570100136780.png">
         <div>Book a Cylinder</div></li></a>
         <a href="https://paytm.com/gas-bill-payment" target="_blank"><li>       
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/302673/1548250595512.png">
         <div>Piped Gas Bill</div></li></a>
         <a href="https://paytm.com/datacard-recharge" target="_blank"><li>      
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/220348/1560922890227.png">
         <div>Data Card</div></li></a>
         <a href="https://paytm.com/challan-bill-payment" target="_blank"><li>       
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/105102/1490263790058.png">
         <div>Challan</div></li></a>
         <a href="https://paytm.com/loan-emi-payment" target="_blank"><li>       
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/139509/1527491534614.png">
         <div>Loan</div></li></a>
         <a href="https://paytm.com/cabletv" target="_blank"><li>      
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/146404/1576591645895.png">
         <div>CableTv</div></li></a>
         <a href="https://paytm.com/water-bill-payment" target="_blank"><li>       
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/83934/1485926863329.png">
         <div>Water</div></li></a>
         <a href="https://paytm.com/devotion" target="_blank"><li>       
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/161203/1512982895245.png">
         <div>Devotion</div></li></a>
         <a href="https://paytm.com/credit-card-bill-payment" target="_blank"><li>       
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/171145/1513237465655.png">
         <div>Credit Card</div></li></a>
         <a href="https://paytm.com/education" target="_blank"><li>      
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/431163/1575978821935.png">
         <div>Fee Payment</div></li></a>
         <a href="https://paytm.com/google-play-gift-card-recharge" target="_blank"><li>       
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/99335/1510813133605.png">
         <div>Google Play</div></li></a>
         <a href="https://paytm.com/municipal-payments" target="_blank"><li>       
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/111128/1491566195023.png">
         <div>Municipal Payments</div></li></a>
         <a href="https://paytm.com/helpinghand" target="_blank"><li>      
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/423194/1561030370882.png">
         <div>Donation</div></li></a>
         <a href="https://paytm.com/apartments-electricity-recharge" target="_blank"><li>      
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/308355/1560923626552.png">
         <div>Apartments</div></li></a>
         <a href="https://paytm.com/toll-tag-recharge" target="_blank"><li>      
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/96645/1486537441921.png">
         <div>Toll</div></li></a>
         <a href="https://paytm.com/insurance-premium-payment" target="_blank"><li>      
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/139510/1504264853671.png">
         <div>Insurance</div></li></a>
         <a href="https://paytm.com/education/explore" target="_blank"><li>      
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/492763/1576753504240.png">
         <div>Explore Colleges</div></li></a>
         <a href="https://paytm.com/education/forms/selection?group=school&amp;filter_category_type=Nursery&amp;pageType=selection" target="_blank"><li>       
         
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/474875/1578315400010.png">
         <div>Nursery Forms</div></li></a>
              
</ul>
               </li></ul></div>
              </div>

    </div>
  </div>
<header id="masthead" class="site-header" role="banner">
    <div class="bluehead">
      <div class="wrapper">
        <nav id="site-navigation" class="main-navigation" role="navigation">
          <h3 class="menu-toggle">Menu</h3>
          <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
                  </nav><!-- #site-navigation -->
      </div>
    </div>
  </header><!-- #masthead -->
<div id="page" class="hfeed site">
<div id="main" class="wrapper">
<script type="text/javascript">
window.dataLayer = window.dataLayer || [];
 function trackHeaderClick(category){
var trackObj = {
'event' : 'nav_top_navigation_clicked',
'nav_offer_category_name' : category,
'nav_offer_current_page': window.location.href
};
dataLayer.push(trackObj);
  };
</script>

<div id="primary" class="site-content">
    <div id="content" role="main">

              
  <article id="post-70274" class="post-70274 page type-page status-publish hentry">
    <header class="entry-header">
                        <h1 class="entry-title">Merchant Contest</h1>
    </header>

    <div class="entry-content">
      
<link rel="stylesheet" href="https://paytm.com/offer/wp-content/uploads/2015/01/style.css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,bold" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<style type="text/css">
  body{margin: 0; padding: 0; font-family:'Open Sans', sans-serif; background: #f3f7f8 !important;}
  .entry-content ol, .comment-content ol, .entry-content ul, .comment-content ul, .mu_register ul {margin: 0px; line-height: 0px;}
  .entry-content li, .comment-content li, .mu_register li {margin: 0px;}
  .entry-content li, .comment-content li, .mu_register li {margin: 0px;}
  .entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, img.wp-post-image {border-radius: 0px; box-shadow: none;}
  .really_simple_share {padding-top: 2px; padding-bottom: 2px; clear: both; margin-left: 450px; display: none !important;}
  p {padding: 0 !important; margin: 10px 0 0 0 !important;}
  ul#topmenu {display: block;}
  ul#topmenu li a {display: inline-block; padding: 8px 0 8px; text-decoration: none; margin-right: 6px !important; color: #444546; line-height: 24px;}
  .wrapper {width: 100% !important; max-width: 100% !important;}

  .clear{clear: both; height: 1px;}
  .clickSubmitX {font-family:'Open Sans', sans-serif; font-size: 16px; font-weight: 300; color:#ffffff !important; border-radius:2px;box-sizing: border-box; text-align: center;}
.clickSubmitX a:link, .clickSubmitX a:visited{font-size: 18px; font-weight: 400; color:#ffffff !important; border-radius:2px; box-sizing: border-box; background:#00b8f8; padding:12px 40px; text-align: center; vertical-align: middle;cursor: pointer; text-decoration:none; border: 1px solid #00b8f8; display: inline-block;}
.clickSubmitX a:hover{color:#00b8f8 !important; background:none !important;}
  .bnr{background: #fff; border-radius: 4px; text-align: center;}
  .bnr img{height: 175px; margin: 0 auto;}
  .bg{padding: 20px; background: #fff; border-radius: 4px; margin-top:20px;}
  .text-center{text-align: center;}
  .tb{color:#2cb9eb; margin:10px 0; display:inline-block; font-size:16px; cursor:pointer; padding-right: 20px; position: relative;}
  .tb::before{position: absolute; content: ''; width: 0; height: 5px; border-top: 5px solid #353535; border-left: 5px solid transparent; border-right: 5px solid transparent; right: 0px; top: 10px;} 
  .tbc{display:none;}
  .tbc ul{margin:10px 0 20px 16px !important; padding:0;}
  .tbc ul li{list-style:disc !important; margin:0 0 7px; font-size:13px; line-height:18px; color:#444;}
  .tbc ul li ul li{list-style:lower-roman !important;}
  .tbc p{font-size:15px; color:#333;}
  .pdlft20{ padding-left:20px !important;}
  @media (max-width:767px){
    #main-header{display: none !important;}
    #primary{margin-top: 0 !important;}
    .container{width: 100%; margin: 0 auto;}
    .container img{max-width: 100%;}
    .head{font-size: 15px; font-weight: bold; line-height: 24px; margin: 0 0 10px; padding: 0;}
    .container ul{margin: 10px 0 40px 18px; padding: 0;}
    .container ul li, .container p{font-size: 13px; line-height: 18px; margin-bottom: 10px; list-style: disc !important;}
    .container ul li strong{font-weight: bold;}
    .bnr{margin-bottom: 10px;}
    .tb::before{position: absolute; content: ''; width: 0; height: 5px; border-top: 5px solid #353535; border-left: 5px solid transparent; border-right: 5px solid transparent; left: 175px !important; top: 12px;} 
    .pdlft20{ padding-left:10px !important;}
    .bg{ margin-top:0px;}
  }
  @media (min-width:1200px){
    .container{width: 1200px; margin: 0 auto;}
    .container img{max-width: 100%;}
    .head{font-size: 18px; font-weight: bold; line-height: 30px; margin: 0px 0 20px; padding: 0;}
    .container ul{margin: 20px 0 40px 18px; padding: 0;}
    .container ul li, .container p{font-size: 14px; line-height: 24px; margin-bottom: 10px; list-style: disc !important;}
    .container ul li strong{font-weight: bold;}
    .bnr{margin-bottom: 20px;}
  }
</style>

<div class="container">
<center class=""></center>
<div class="clear"></div>
  <div class="bg">
    <% if notice.present? %>
      <p id="notice"><%= notice %></p>
    <% else %>
      <p id="notice">your ans is submitted</p>
    <% end %>

    <div class="head">
      Question:  <%= @question.que %>
      <br>
      <input type="radio" name="ans" value=<%= @question.option_1 %> checked> <%= @question.option_1 %><br>
      <input type="radio" name="ans" value=<%= @question.option_2 %> > <%= @question.option_2 %><br>
      <input type="radio" name="ans" value=<%= @question.option_3 %> > <%= @question.option_3 %><br>
      <input type="radio" name="ans" value=<%= @question.option_4 %> > <%= @question.option_4 %>
      <br>
      <br>
      <% if (((@question.id) % 5) == 0 )%>
        <%= link_to 'Submit Result', questions_path, notice: 'Contestant was successfully created.'%>
      <% else %>
        <%= link_to 'Next', question_path((@question.id + 1)), notice: 'Contestant was successfully created.' %>
      <% end %> 
    </div>
  </div>
<div class="clear"></div>
  
<div class="row">
  <div class="col-xs-12 mr10">
      <span class="tnCs tb">Terms and conditions</span>
        <div class="tnc tbc">
            
        <p><strong>Offer</strong>: Accept payments with Paytm and win exciting prizes<br>
<strong>About the offer</strong>: About the offer: Accept 10 or more payments using Paytm and win Hero Glamour bikes, Microwave ovens, steam irons &amp; Paytm cash.<br>
<strong>PART - A TERMS &amp; CONDITIONS:-</strong></p>
<ul><li>This Offer is sponsored, organized and administered by One97 Communications Limited, a Company which owns the brand “Paytm” and operates the ‘Paytm Platform’ including URL www.paytm.com, mobile application, Paytm IVR and Paytm WAP and is having its registered office at 1st Floor, Devika Tower, Nehru Place, New Delhi - 110019 and corporate office at B-121, Sector 5, Noida, UP 201301. For clarity and brevity One97 Communications Limited is hereinafter referred to as “Paytm”.</li>
<li>Participation in this Offer is valid from 1st April 2018 00:01 hours till 30th April 2018 23:59 hours (hereinafter “Offer Period”) and is limited to only those Merchants who have specifically received a direct communication from One97/Paytm regarding this offer.</li>
<li>To be considered as eligible for this Offer-
<ul>
<li>Merchant needs to accept 10 or more payments from minimum 3 unique customers during the Offer Period to be eligible for the offer.</li>
<li>Only payments which are of a value equal to or more than Rs. 20/- (Rupees Twenty Only) shall be considered for the purposes of this Offer.</li>
<li>Only successful transactions will be considered for this Offer.</li>
</ul>
</li><li>Out of all merchants meeting eligibility criteria, lucky winners will be randomly selected at the end of the Contest Period. The more the number of payments accepted, the higher will be the chances of winning the prize.</li>
<li>Merchants who fulfill the above criteria will form part of the eligibility pool and then the lucky winners shall be chosen on a random basis.</li>
<li>Merchant who has won once, will not be eligible to win it again in this Offer.</li>
<li>A communication will be sent to only those merchants who have won.</li>
<li>Prize:
<ul>
<li>10 Hero Glamour motorcycles: Paytm shall contact the Winners for KYC documents &amp; claim process.</li>
<li>2,000 Microwave Ovens: Promo code for 100% cashback will be communicated to the winners</li>
<li>10,000 Steam Irons: Promo code for 100% cashback will be communicated to the winners</li>
<li>40,000 Winners will receive Rs100 Paytm Cash – Paytm Cash will be automatically credited to the Paytm Wallet</li>
</ul>
</li><li>This Offer shall not be clubbed/used in conjunction/alongside any prevailing offer/Offers/promotion running on Paytm Platform. The Merchant(s) are eligible for the cash back Offer / promo codes running on the Paytm Platform.</li>
<li>The promo codes can be redeemed on the Paytm App only to claim the prize</li>
<li>The promo codes will be communicated to the winners through SMS/In app notifications in the 1st week of May,2018</li>
<li>Each participant is eligible to win only one prize in the contest</li>
<li>The promo codes/gifts communicated to the winners can be redeemed/claimed on or before 31st May’18</li>
<li>Accepting 10 or more payments does not guarantee winning a prize.</li>
<li>Paytm reserves the right to extend, cancel, discontinue, prematurely withdraw, change, alter or modify this Offer or any part thereof including the eligibility criteria, the T&amp;C and gratification at their sole discretion at any time during its validity as may be required including in view of business exigencies and/or changes by a regulatory authority and/or statutory changes and/or any reasons beyond their control and the same shall be binding on the Merchant(s).</li>
<li>Employees of Paytm (including their family members) and of their group companies, affiliate or associate companies, shall not be eligible for any of the gratifications under this Offer. In case it comes to the knowledge of Paytm that any winner is an employee of Paytm or their family member, Paytm reserves the right to forfeit the gratification/Prize. Further, to participate in this offer the Merchant needs to have registered Paytm account.</li>
<li>Paytm reserves the right to disqualify any transaction or discontinue promotion any time.</li>
<li>Paytm Wallet T&amp;Cs will apply for Paytm Cash</li>
<li>In cases of fraudulent/suspicious transactions, Paytm solely reserves the right to revoke the offer.</li>

<p><em>*Disclaimer: Paytm cash is a semi closed payment instrument and may be used for the purchase of third party products or may be transferred to the person’s bank account.</em><br>
<strong>PART - B LEGAL TERMS &amp; CONDITIONS</strong></p>
<li>By accepting payments vide this Offer, Merchant have given Paytm the right to use their name, photograph and other personal details for the purpose of this Offer including advertising on social media, Paytm platform, or in public domain.</li>

<li>Merchant acknowledge and agree that all copyright and trademarks and all other intellectual property rights in the SMS content, WAP/APP, Website and all material or content related to the Offer shall remain, at all times, owned by Paytm and/or their respective owners. All material and content contained is made available for Merchant’s personal and non-commercial use only. Any other use of the material/ content on the platform and/ or any information disseminated by SMS or any other means of communication is strictly prohibited.</li>
<li>Subject to any applicable law (a) All warranties of any kind whatsoever, whether express or implied, are hereby expressly DISCLAIMED(b) The Merchant expressly agree that his/her participation in the Offer is at his/her sole risk and is governed by the T&amp;C herein; and (c) No advice or information whether by representations, oral, written or pictorial derived from the platforms including but not limited to websites/ SMS, shall be construed to mean the giving of any warranty of any kind.</li>
<li>All cashback amounts shall be given in form of Paytm Cash</li>
<li>The Paytm Cash (hereinafter “Cashback”) to be provided to the Merchant in his Paytm Wallet, under this Offer are neither assignable nor transferable under any circumstance, unless specifically provided hereunder. All the cashback shall be subject to such other T&amp;C as may be applicable to specific nature and shall have to be duly complied with by the Merchant(s).</li>
<li>The Cashback (s) to the winner(s) shall be given subject to compliance with all applicable statutory legislations, processes and formalities in connection with the Offer and on production of all such documents/papers as may be required by Paytm. Any failure on the part of the Merchant to comply with directions issued by Paytm for claim of cashback shall entitle Paytm to forfeit the cashback or at their sole discretion.</li>
<li>Any Merchant providing any incorrect information or concealing/withholding any information from Paytm with intent to participate in the Offer will automatically be disqualified from participating in it. Such act of providing incorrect information or concealing/withholding any information, including without limitation incorrect declaration of information relating to name, age, identity, address, mobile connection of Operator number, domicile etc, by the Merchant or dispute with the platform, shall entitle Paytm to disqualify him/her without any further intimation.</li>
<li>The Merchant shall indemnify and keep indemnified Paytm and their officers, directors, employees, customers, subsidiaries, affiliates and agents harmless from and against any and all claims, losses, suits, proceedings, action, liabilities, damages, expenses and costs (including attorney’s fees and court costs) which Paytm may incur, pay or become responsible as facilitator as a result of breach or alleged breach of the representations or obligations under the T&amp;C hereunder, any failure by the Merchant to comply with applicable law and any third party claim in respect of misuse of any information of a third party. Paytm shall have the right to defend itself, pursuant to this Clause, at the cost of the Merchant. Paytm or their respective affiliates shall not be responsible for any direct, indirect, incidental, special, punitive or consequential damages, including loss of profits, incurred by the winner(s) or any third party, in connection with the Offer. It is expressly provided that transaction shall between Merchant &amp; Paytm only.</li>
<li>The Merchant hereby irrevocably authorize Paytm and its owners, affiliates, subsidiaries, associates to use the data gathered during and/or after the Offer in respect of the Merchant (including but not limited to name and photograph) in any of its communications including marketing promotions and advertisements. By participating in the Offer, Merchant/s confirms to waive the applicability of rules and regulations of the National Do Not Call Registry and agrees to receive updates and promotional messages / SMS / Email / Call for current and future Offers from Paytm.</li>
<li>This Offer is subject to force majeure circumstances including without limitation, floods, natural disasters, war, act of terror, political unrests, technical snags, act of God, change of laws or any circumstance beyond the reasonable control of Paytm (“Force Majeure Event”). Paytm shall not be liable for any delay or adverse effect caused to this Offer there under as a result of a Force Majeure Event. Paytm shall intimate the suspension of Offer caused as a result of such Force Majeure Event to the Merchants within reasonable time.</li>
<li>Paytm reserves all the rights to offer any amount/voucher/any other cashback as per its sole discretion and to such number of Merchants as it may deem fit.</li>
<li>This Offer is subject to guidelines/directions issued by any applicable competent authority from time to time.</li>
<li>Paytm shall not be responsible for any claims arising out of technical failures before, during the Offer or after the completion including but not limited to any technical failures in the mobile connectivity, delay in sending or receiving the SMS for participating in the Offer, any action that has been initiated, actioned or completed through his/her mobile phones, failure of servers or any failures arising out of technical snags or resultant inability of the Merchant.</li>
<li>Paytm reserves the right to extend, cancel, discontinue, prematurely withdraw, change, alter or modify this Offer or any part thereof including the eligibility criteria, the T&amp;C and cashback at their sole discretion at any time during its validity as may be required including in view of business exigencies and/or changes by a regulatory authority and/or statutory changes and/or any reasons beyond their control and the same shall be binding on the Merchant.</li>
<li>Failure by Paytm to enforce any of their rights at any stage does not constitute a waiver of those rights. Further, Paytm may assign any of its rights within the Offer to any party without prior intimation to Merchant.</li>
<li>Paytm does not make any commitment, express or implied to respond to any feedback, suggestion and/or queries of the Merchant.</li>
<li>The Merchant understand and agree that Paytm, its owners and affiliates, shall not be liable for any loss or damage whatsoever that may be suffered, or for any personal loss or injury that may be suffered (including loss of life), to Merchant and/or any third party, directly or indirectly, by use or non-use of the cashback.</li>
<li>Apart from the entitlement to the cashback, the Merchant or their legal heirs/ successors/ representative will have no other rights or claims against Paytm, its owners and affiliates. Maximum aggregate liability of Paytm shall not exceed value of the concerned cashback in case of any dispute, in pursuance to the terms and conditions herein.</li>
<li>Paytm reserves the right to cancel the cashback of Merchant in case of any violation by the Merchant.</li>
<li>Any dispute arising out of this offer and terms &amp; conditions of this Offer shall first be attempted to be resolved amicably through negotiations. In the event, amicable settlement fails, the dispute shall be referred to Mediation. The venue of Mediation shall be at Delhi.</li>
<li>These Terms and Conditions are subject to Indian law and the exclusive jurisdiction of the Courts in Delhi.</li>

</ul>


     
    </div>
   </div>
  </div>
</div>
  
<script>
$(document).ready(function(e) {
    $('.tnCs').click(function(){
    $('.tnc').slideToggle();
  });
    });
    

/*!
                               * Deep-link.js
                               * https://timseverien.com/projects/deep-link/
                               *
                               * Copyright 2014

                               * Released under MIT license
                               */
                              (function () {
                                window.visibly = {
                                  q: document,

                                  p: undefined,
                                  prefixes: ['webkit', 'ms','o','moz','khtml'],
                                  props: ['VisibilityState', 'visibilitychange', 'Hidden'],
                                  m: ['focus', 'blur'],
                                  visibleCallbacks: [],
                                  hiddenCallbacks: [],
                                  genericCallbacks:[],
                                  _callbacks: [],
                                  cachedPrefix:"",
                                  fn:null,
                                  onVisible: function (_callback) {
                                    if(typeof _callback == 'function' ){
                                      this.visibleCallbacks.push(_callback);


                                    }
                                  },
                                  onHidden: function (_callback) {
                                    if(typeof _callback == 'function' ){
                                      this.hiddenCallbacks.push(_callback);
                                    }
                                  },
                                  getPrefix:function(){
                                    if(!this.cachedPrefix){
                                      for(var l=0;b=this.prefixes[l++];){
                                        if(b + this.props[2] in this.q){
                                          this.cachedPrefix =  b;
                                          return this.cachedPrefix;
                                        }
                                      }
                                    }
                                  },
                                  visibilityState:function(){
                                    return  this._getProp(0);
                                  },
                                  hidden:function(){
                                    return this._getProp(2);
                                  },
                                  visibilitychange:function(fn){
                                    if(typeof fn == 'function' ){
                                      this.genericCallbacks.push(fn);
                                    }
                                    var n =  this.genericCallbacks.length;
                                    if(n){

                                      if(this.cachedPrefix){
                                        while(n--){
                                          this.genericCallbacks[n].call(this, this.visibilityState());
                                        }
                                      }else{
                                        while(n--){
                                          this.genericCallbacks[n].call(this, arguments[0]);
                                        }
                                      }
                                    }
                                  },
                                  isSupported: function (index) {

                                    return ((this._getPropName(2)) in this.q);
                                  },
                                  _getPropName:function(index) {
                                    return (this.cachedPrefix == "" ?
                                    this.props[index].substring(0, 1).toLowerCase() +
                                    this.props[index].substring(1) : this.cachedPrefix +
                                    this.props[index]);
                                  },
                                  _getProp:function(index){
                                    return this.q[this._getPropName(index)];
                                  },
                                  _execute: function (index) {
                                    if (index) {

                                      this._callbacks = (index == 1) ? this.visibleCallbacks :
                                        this.hiddenCallbacks;
                                      var n =  this._callbacks.length;



                                      while(n--){
                                        this._callbacks[n]();


                                      }
                                    }
                                  },
                                  _visible: function () {

                                    window.visibly._execute(1);
                                    window.visibly.visibilitychange.call(window.visibly, 'visible');
                                  },
                                  _hidden: function () {
                                    window.visibly._execute(2);
                                    window.visibly.visibilitychange.call(window.visibly, 'hidden');
                                  },
                                  _nativeSwitch: function () {
                                    this[this._getProp(2) ? '_hidden' : '_visible']();
                                  },
                                  _listen: function () {
                                    try { /*if no native page visibility support found..*/
                                      if (!(this.isSupported())) {
                                        if (this.q.addEventListener) { /*for browsers without
                                         focusin/out support eg. firefox, opera use focus/blur*/
                                          window.addEventListener(this.m[0], this._visible, 1);
                                          window.addEventListener(this.m[1], this._hidden, 1);
                                        } else { /*IE <10s most reliable focus events are
                                         onfocusin/onfocusout*/
                                          if (this.q.attachEvent) {
                                            this.q.attachEvent('onfocusin', this._visible);
                                            this.q.attachEvent('onfocusout', this._hidden);
                                          }
                                        }
                                      } else { /*switch support based on prefix detected earlier*/
                                        this.q.addEventListener(this._getPropName(1), function () {
                                          window.visibly._nativeSwitch.apply(window.visibly, arguments);
                                        }, 1);
                                      }

                                    } catch (e) {}
                                  },
                                  init: function () {
                                    this.getPrefix();
                                    this._listen();
                                  }
                                };
                            
                                this.visibly.init();
                              })();
                              (function() {
                                'use strict';
                            
                                /****************************************************************
                                 * VARIABLES
                                 ****************************************************************/
                            
                                var delay = 200,
                                  OSs = {
                                    android: {
                                      store_prefix: 'https://play.google.com/store/apps/details?id=',
                                      test: /Android/i
                                    },
                            
                                    iOS: {
                                      store_prefix: 'https://itunes.apple.com/en/app/id',
                                      test: /iPhone|iPad|iPod/i

                                    }

                                  };
                            
                            
                                /****************************************************************
                                 * FUNCTIONS
                                 ****************************************************************/
                            
                                // Get user agent
                                var getUserAgent = function() {
                                  var k;
                                  for(k in OSs) {
                                    if(navigator.userAgent.match(OSs[k].test)) return k;
                                  }
                                };
                            
                                // Get current time in ms
                                var getTime = function() {
                                  return new Date().getTime();
                                };
                                var timeout;
                                function preventPopup() {
                                  clearTimeout(timeout);
                                  timeout = null;
                                  window.removeEventListener('pagehide', preventPopup);
                                }
                            
                                function open(url) {
                                  window.location.href = url;
                                }
                            
                                function openApp(vertical,app, url) {
                                 if(vertical=="android"){
                                   location.href = app;
                                   var now = new Date().valueOf();
                                   timeout = setTimeout(function() {
                                    if (new Date().valueOf() - now > delay*2) return;
                                    location.href = url;
                                   }, delay);
                                 }
                                 else{
                                  var iframe = document.createElement('IFRAME');
                                  iframe.setAttribute('style','display:none');
                                  iframe.setAttribute('id', 'appIframe');
                                  document.body.appendChild(iframe);
                                  document.getElementById('appIframe').setAttribute('src', app);
                                  location.href = app;     
                                  var now = new Date().valueOf();
                                  timeout = setTimeout(function() {
                                    var list = document.getElementById("appIframe");
                                    list.parentNode.removeChild(list);
                                    if (new Date().valueOf() - now > delay*2) return;
                                      location.href = url;
                                  }, delay);
                                 }
                                 window.addEventListener('pagehide', preventPopup); 
                               }
                               // Parse a single element

                                var parseElement = function(el) {
                                  console.log(el);
                                  var clicked, timeout,
                                    OS = getUserAgent(),
                                    href = el.getAttribute('href'),
                                    app = (
                                      el.getAttribute('data-app-' + OS) ||
                                      el.getAttribute('data-app')
                                    ),
                                    store = (
                                      el.getAttribute('data-store-' + OS) ||
                                      el.getAttribute('data-store')

                                    );

                                  if(!app) return;


                                  if(!href) el.setAttribute('href', app);

                                   if(location.search.indexOf('webview') > -1){

                                     el.onclick = function(e) {
                                      e.preventDefault();
                                      e.stopImmediatePropagation();
                                      location.href = app;
                                    }
                                    return;
                                }
                                 else if(OS) {// Hijack click event
                                    el.onclick = function(e) {
                                      e.preventDefault();
                                      e.stopImmediatePropagation();
                                       openApp(OS,app,OSs[OS].store_prefix + store);
                                    };
                                  } else if(!href || href === '#') {
                                    // Apps are presumably not supported
                                    el.style.display = 'none';
                                  }
                                  // Triggered on blur
                                  visibly.onHidden(function() {
                                    if(!clicked || !timeout) return;
                                    // Reset everything
                                    timeout = clearInterval(timeout);
                                    clicked = false;
                                  });
                                };
                                /****************************************************************
                                 * INITIALIZE
                                 ****************************************************************/
                                var elements = document.getElementsByTagName('a'),
                                  i = elements.length;
                            while(i--) parseElement(elements[i]);
                              })();
                            

                          
 </script>
                </div><!-- .entry-content -->
    <footer class="entry-meta">
          </footer><!-- .entry-meta -->
  </article><!-- #post -->
              
    </div><!-- #content -->
  </div><!-- #primary -->




      <div id="secondary" class="widget-area" role="complementary">
          </div><!-- #secondary -->
  </div><!-- #main .wrapper -->
</div><script type="text/javascript" id="">function setCookie(c,d,a){var b=new Date;b.setTime(b.getTime()+864E5*a);a="; expires\x3d"+b.toGMTString();document.cookie=c+"\x3d"+d+a}var refHost=google_tag_manager["GTM-PTT2P2"].macro(2);setCookie("referrer",refHost,30);</script><script type="text/javascript" id="">tmp_url=document.location.href;var t_referrer=document.referrer;function ie_trim(a){return a=a.replace(/^\s+|\s+$/g,"")}function t_empty(a){if("undefined"===typeof a||null===a)return!0;if("undefined"!=typeof a.length)return 0==a.length;var b=0,c;for(c in a)a.hasOwnProperty(c)&&b++;return 0==b}function tvc_delCookie(a){tvc_getCookie(a)&&tvc_setCookie(a,"")}
function tvc_setCookie(a,b){exdays=30;var c=new Date;c.setDate(c.getDate()+exdays);c=escape(b)+(null==exdays?"":"; expires\x3d"+c.toUTCString());document.cookie=a+"\x3d"+c+"; Path\x3d /;"}function tvc_getCookie(a){var b,c=document.cookie.split(";");for(b=0;b<c.length;b++){var d=c[b].substr(0,c[b].indexOf("\x3d"));var e=c[b].substr(c[b].indexOf("\x3d")+1);d=d.replace(/^\s+|\s+$/g,"");if(d==a)return unescape(e)}return null}
function getQueryVariable(a){var b=window.location.search.substring(1);b=b.split("\x26");for(var c=0;c<b.length;c++){var d=b[c].split("\x3d");if(d[0]==a)return d[1]}return!1}function smart_split(a,b){return-1<a.indexOf("-")?a.split("-")[b]:!1}QP_val=getQueryVariable("utm_campaign");QP_term=getQueryVariable("utm_term");
t_empty(QP_val)?!t_empty(t_referrer)&&(0>t_referrer.indexOf("paytm")||10<t_referrer.indexOf("paytm"))&&(tvc_delCookie("tvc_ref_prt"),tvc_delCookie("tvc_subid")):(part_prefix=smart_split(QP_val,0),part_cat=smart_split(QP_val,1),t_empty(part_prefix)||t_empty(part_cat)||(tvc_setCookie("tvc_ref_prt",QP_val),!1!==getQueryVariable("utm_term")&&tvc_setCookie("tvc_subid",QP_term)));</script><script type="text/javascript" id="" src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.0/sjcl.min.js"></script><script type="text/javascript" id="">var res=[{type:"link",url:"javascript://",display_text:"Grab Now",color:"#FFFFFF",background:"#E74b24",target:"",ga_key:"",clickaction:"selfLink",alignment:"left",enable:"true",bold:"true"},{type:"link",url:"https://m.p-y.tm/oop",display_text:"Deals starting Rs.1",color:"#333333",background:"",target:"",ga_key:"",clickaction:"selfLink",alignment:"left",enable:"true",bold:"true"},{type:"link",url:"/care/ticket",display_text:"Customer Care (24X7): 0120 3888 388",color:"#333333",background:"",target:"",
ga_key:"",clickaction:"selfLink",alignment:"right",enable:!1,bold:!0},{type:"link",url:"https://business.paytm.com?utm_source\x3dPaytmHomepage\x26utm_medium\x3dTopstrip\x26utm_campaign\x3dAcceptPayments",display_text:"Accept Payments",color:"",background:"",target:"_blank",ga_key:"",clickaction:"offers_tab_clicked_9",alignment:"right",enable:!0},{type:"link",url:"https://business.paytm.com/food-wallet",display_text:"Food Wallet",color:"",background:"",target:"_blank",ga_key:"",clickaction:"offers_tab_clicked_7",
alignment:"right",enable:!0},{type:"link",url:"/myorders",display_text:"Track Order",color:"",background:"",target:"",ga_key:"",clickaction:"goToMyorders",alignment:"right",enable:!0},{type:"link",url:"https://seller.paytmmall.com/login",display_text:"Sell on Paytm Mall",color:"",background:"",target:"_blank",ga_key:"",clickaction:"",alignment:"right",enable:!0},{type:"link",url:"https://smartretail.paytm.com/?utm_source\x3dPaytm%20Mall%20Web%20%20App%20-%20Top%20Link\x26utm_medium\x3dApp\x26utm_campaign\x3dPaytm%20Mall%20App",
display_text:"Paytm Smart Retail",color:"",background:"",target:"_blank",ga_key:"",clickaction:"offers_tab_clicked_5",alignment:"right",enable:!0},{type:"link",url:"https://www.paytmbank.com/kyc",display_text:"KYC",color:"",background:"",target:"_blank",ga_key:"",clickaction:"offers_tab_clicked_5",alignment:"right",enable:!0},{type:"link",url:"https://paytm.com/offer/kyc-campaign/",display_text:"KYC Camp",color:"",background:"",target:"_blank",ga_key:"",clickaction:"offers_tab_clicked_6",alignment:"right",
enable:!1},{type:"link",url:"https://paytm.com/care/ticket",display_text:"24x7 Help",color:"#333333",background:"",target:"",ga_key:"",clickaction:"selfLink",alignment:"right",enable:!0,bold:!1}],event;document.createEvent?(event=document.createEvent("HTMLEvents"),event.initEvent("headerchange",!0,!0)):(event=document.createEventObject(),event.eventType="headerchange");event.data=res;event.eventName="headerchange";var element=window.top.document.getElementsByTagName("body")[0];
document.createEvent?element.dispatchEvent(event):element.fireEvent("on"+event.eventType,event);</script><script type="text/javascript" id="">window.tatvic_hotel_fbq=window.tatvic_hotel_fbq||!1;window.tatvic_movies_fbq=window.tatvic_movies_fbq||!1;window.tatvic_electricity_fbq=window.tatvic_electricity_fbq||!1;window.tatvic_water_fbq=window.tatvic_water_fbq||!1;window.tatvic_gas_fbq=window.tatvic_gas_fbq||!1;window.tatvic_metro_fbq=window.tatvic_metro_fbq||!1;window.tatvic_recharge_fbq=window.tatvic_recharge_fbq||!1;window.tatvic_marketplace_fbq=window.tatvic_marketplace_fbq||!1;window.tatvic_events_fbq=window.tatvic_events_fbq||!1;
window.tatvic_flights_fbq=window.tatvic_bus_fbq||!1;window.tatvic_trains_fbq=window.tatvic_trains_fbq||!1;window.tatvic_flights_fbq=window.tatvic_flights_fbq||!1;window.tatvic_hotel_fbqid="176060966124587";window.tatvic_movies_fbqid="1761018440810144";window.tatvic_electricity_fbqid="1630954477229567";window.tatvic_water_fbqid="503936943144949";window.tatvic_gas_fbqid="237933826576761";window.tatvic_metro_fbqid="1567644690202577";window.tatvic_recharge_fbqid="1037970052905862";
window.tatvic_marketplace_fbqid="707949589280443";window.tatvic_bus_fbqid="925380297550248";window.tatvic_flights_fbqid="1762415750664628";window.tatvic_trains_fbqid="1308134132559175";window.tatvic_events_fbqid="140274403368152";</script><script type="text/javascript" id="">window.FaceBook_pixel_lob_pixel_id_view_content="NA";var pagePath=google_tag_manager["GTM-PTT2P2"].macro(9);
"/hotels"==pagePath?FaceBook_pixel_lob_pixel_id_view_content="176060966124587":pagePath.match("(/movies/)([A-Za-z0-9~`!@#$%^\x26*()\x3d_+.,?:;'\x3e\x3c\"-]*$)")?FaceBook_pixel_lob_pixel_id_view_content="1761018440810144":"/electricity-bill-payment"==pagePath?FaceBook_pixel_lob_pixel_id_view_content="1630954477229567":"/water-bill-payment"==pagePath?FaceBook_pixel_lob_pixel_id_view_content="503936943144949":"/gas-bill-payment"==pagePath?FaceBook_pixel_lob_pixel_id_view_content="237933826576761":"/metro-card-recharge"==
pagePath?FaceBook_pixel_lob_pixel_id_view_content="1567644690202577":"/recharge"==pagePath?FaceBook_pixel_lob_pixel_id_view_content="1037970052905862":"/dth-recharge"==pagePath?FaceBook_pixel_lob_pixel_id_view_content="1037970052905862":"/datacard-recharge"==pagePath?FaceBook_pixel_lob_pixel_id_view_content="1037970052905862":"/landline-bill-payment"==pagePath?FaceBook_pixel_lob_pixel_id_view_content="1037970052905862":pagePath.match("^/shop/p/(?!deals|nearby).*")?FaceBook_pixel_lob_pixel_id_view_content=
"707949589280443":"/events"==pagePath&&(FaceBook_pixel_lob_pixel_id_view_content="140274403368152");
if("NA"!=FaceBook_pixel_lob_pixel_id_view_content){!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");try{var pixl_id=FaceBook_pixel_lob_pixel_id_view_content;pixl_id==tatvic_hotel_fbqid?
1!=tatvic_hotel_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_hotel_fbq=!0):pixl_id==tatvic_movies_fbqid?1!=tatvic_movies_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_movies_fbq=!0):pixl_id==tatvic_marketplace_fbqid?1!=tatvic_marketplace_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_marketplace_fbq=!0):pixl_id==tatvic_electricity_fbqid?1!=tatvic_electricity_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_electricity_fbq=!0):pixl_id==tatvic_water_fbqid?1!=
tatvic_water_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_water_fbq=!0):pixl_id==tatvic_gas_fbqid?1!=tatvic_gas_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_gas_fbq=!0):pixl_id==tatvic_metro_fbqid?1!=tatvic_metro_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_metro_fbq=!0):pixl_id==tatvic_recharge_fbqid?1!=tatvic_recharge_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_recharge_fbq=!0):pixl_id==tatvic_events_fbqid&&1!=tatvic_events_fbq&&(fbq("init",pixl_id),
fbq("track","PageView"),tatvic_events_fbq=!0);pixl_id==tatvic_marketplace_fbqid?fbq("trackSingle",pixl_id,"ViewContent",{content_name:google_tag_manager["GTM-PTT2P2"].macro(10),content_ids:[google_tag_manager["GTM-PTT2P2"].macro(11)],content_type:"product",content_category:google_tag_manager["GTM-PTT2P2"].macro(12),value:google_tag_manager["GTM-PTT2P2"].macro(13),currency:"INR"}):fbq("trackSingle",pixl_id,"ViewContent")}catch(b){}};</script>
<script type="text/javascript" id="">window.FaceBook_pixel_lob_pixel_id_view_content="NA";var pagePath=google_tag_manager["GTM-PTT2P2"].macro(14);
pagePath.match("^/hotels.*")?FaceBook_pixel_lob_pixel_id_view_content="176060966124587":pagePath.match("^/movies.*")?FaceBook_pixel_lob_pixel_id_view_content="1761018440810144":pagePath.match("^/electricity-bill-payment.*")?FaceBook_pixel_lob_pixel_id_view_content="1630954477229567":pagePath.match("^/water-bill-payment.*")?FaceBook_pixel_lob_pixel_id_view_content="503936943144949":pagePath.match("^/gas-bill-payment.*")?FaceBook_pixel_lob_pixel_id_view_content="237933826576761":pagePath.match("^/metro-card-recharge.*")?
FaceBook_pixel_lob_pixel_id_view_content="1567644690202577":pagePath.match("^/recharge.*")?FaceBook_pixel_lob_pixel_id_view_content="1037970052905862":pagePath.match("^/dth-recharge.*")?FaceBook_pixel_lob_pixel_id_view_content="1037970052905862":pagePath.match("^/datacard-recharge.*")?FaceBook_pixel_lob_pixel_id_view_content="1037970052905862":pagePath.match("^/landline-bill-payment.*")?FaceBook_pixel_lob_pixel_id_view_content="1037970052905862":pagePath.match("(^/shop/(h|p|g)/(?!deals|nearby).*)|(^/$)|(^/cart)|(^https://paytm.com/offer/)|(^https://paytm.com/offers/.*)")?
FaceBook_pixel_lob_pixel_id_view_content="707949589280443":pagePath.match("^/bus-tickets.*")?FaceBook_pixel_lob_pixel_id_view_content="925380297550248":pagePath.match("^/flights.*")?FaceBook_pixel_lob_pixel_id_view_content="1762415750664628":pagePath.match("^/train-tickets.*")?FaceBook_pixel_lob_pixel_id_view_content="1308134132559175":pagePath.match("^/events.*")&&(FaceBook_pixel_lob_pixel_id_view_content="140274403368152");
if("NA"!=FaceBook_pixel_lob_pixel_id_view_content){!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");try{var pixl_id=FaceBook_pixel_lob_pixel_id_view_content;pixl_id==tatvic_hotel_fbqid?
1!=tatvic_hotel_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_hotel_fbq=!0):pixl_id==tatvic_movies_fbqid?1!=tatvic_movies_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_movies_fbq=!0):pixl_id==tatvic_marketplace_fbqid?1!=tatvic_marketplace_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_marketplace_fbq=!0):pixl_id==tatvic_electricity_fbqid?1!=tatvic_electricity_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_electricity_fbq=!0):pixl_id==tatvic_water_fbqid?1!=
tatvic_water_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_water_fbq=!0):pixl_id==tatvic_gas_fbqid?1!=tatvic_gas_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_gas_fbq=!0):pixl_id==tatvic_metro_fbqid?1!=tatvic_metro_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_metro_fbq=!0):pixl_id==tatvic_recharge_fbqid?1!=tatvic_recharge_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_recharge_fbq=!0):pixl_id==tatvic_bus_fbqid?1!=tatvic_recharge_fbq&&(fbq("init",pixl_id),
fbq("track","PageView"),tatvic_recharge_fbq=!0):pixl_id==tatvic_flights_fbqid?1!=tatvic_recharge_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_recharge_fbq=!0):pixl_id==tatvic_trains_fbqid?1!=tatvic_recharge_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_recharge_fbq=!0):pixl_id==tatvic_events_fbqid&&1!=tatvic_events_fbq&&(fbq("init",pixl_id),fbq("track","PageView"),tatvic_events_fbq=!0)}catch(b){}};</script>
<script type="text/javascript" id="">try{var tvc_source=google_tag_manager["GTM-PTT2P2"].macro(20)("utm_source"),tvc_medium=google_tag_manager["GTM-PTT2P2"].macro(26)("utm_medium"),tvc_campaign=google_tag_manager["GTM-PTT2P2"].macro(32)("utm_campaign");window.dataLayer=window.dataLayer||[];(tvc_source||tvc_medium||tvc_campaign)&&dataLayer.push({event:"tvc_pageReferrer_set",tvc_source:tvc_source?tvc_source:void 0,tvc_medium:tvc_medium?tvc_medium:void 0,tvc_campaign:tvc_campaign?tvc_campaign:void 0})}catch(a){google_tag_manager["GTM-PTT2P2"].macro(37)(a.name,a.message,"tvc_pagereferrer_inject")};</script><!-- #page -->


<div id="footerlink">
    <div class="footerStaticLink">
      <div class="container-menu">
        <ul class="staticLink">
          <li> <a href="https://paytm.com/about-us" target="_self">About Us</a></li>
                <li> <a href="https://paytm.com/partners" target="_self">Partner with us </a></li>
                <li> <a href="https://paytm.com/terms" target="_self">Terms and Conditions </a></li>
                <li> <a href="https://paytm.com/blog" target="_blank">Blog</a></li>
                <li> <a href="https://paytm.com/press" target="_blank">Press</a></li>
                <li> <a href="https://paytm.com/help" target="_self">Customer service</a></li>
                <li> <a href="https://paytm.com/grievance-policy" target="_self">Grievence policy</a></li>
                <li> <a href="https://paytm.com/offer/bug-bounty/" target="_self">Bug bounty</a></li>
            </ul>
            <ul class="staticIcon">
                <li> 
                  <a href="https://itunes.apple.com/in/app/mobile-recharge-bill-payments/id473941634?mt=8"><i class="pt-icon-apple"></i></a>
                </li>
                <li class="blackberry"> 
                  <a href="https://appworld.blackberry.com/webstore/content/52308/?lang=en"><i class="pt-icon-blackberry"></i></a>
                </li>
                <li> 
                  <a href="http://www.windowsphone.com/en-us/store/app/paytm/43783c68-2cae-47e0-b326-e8eda1285885"><i class="pt-icon-windows"></i></a>
                </li>
                <li> 
                  <a href="https://play.google.com/store/apps/details?id=net.one97.paytm"><i class="pt-icon-android"></i></a>
                </li>
                <li> 
                  <a href="http://store.ovi.com/content/365021"><i class="pt-icon-java"></i></a>
                </li>
                <li class="lineInfo"></li>
                <li> 
                  <a href="https://twitter.com/paytm"> <i class="pt-icon-twitter"></i></a>
                </li>
                <li>
                  <a href="https://facebook.com/paytm"><i class="pt-icon-facebook"></i></a>
                </li>
                <li> 
                  <a href="https://in.pinterest.com/paytm_official/"><i class="pt-icon-pinterest-p"></i></a>
                </li>
                <li>
                  <a href="https://instagram.com/paytm/"><i class="pt-icon-instagram"></i></a>
                </li>
        </ul>
      </div>
    </div>
    
  </div><!-- #colophon -->

<!-- Google Tag Manager -->
<!--<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PTT2P2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName('body')[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.appendChild(j);
})(window,document,'script','dataLayer','GTM-PTT2P2');</script>//-->
<!-- End Google Tag Manager -->
<!--<script type="text/javascript">
 window.dataLayer = window.dataLayer || [];
 dataLayer.push({
      'event': 'pageViewLoad',
      'pageTitle': 'Exclusive Paytm Offers',
      'pageName': 'Offer Page',
      'pageViewPath' : window.location.href
    });
</script>//-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-36768858-14"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36768858-14');
</script>

<iframe style="display:none" height="0" width="0" id="loader"></iframe>
<script>window.fbAsyncInit = function() {
        FB.init({
          appId      : 156620457796681,
          xfbml      : true,
          version    : 'v2.0'
        });
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));</script>
  <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div><iframe name="fb_xdm_frame_https" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://staticxx.facebook.com/connect/xd_arbiter.php?version=45#channel=f3f0e4559f4c6c&amp;origin=https%3A%2F%2Fpaytm.com" style="border: none;"></iframe></div><div></div></div></div>

<script>
var standalone = window.navigator.standalone;
    var userAgent = window.navigator.userAgent.toLowerCase();
    var safari = /safari/.test(userAgent);
    var ios = /iphone|ipod|ipad/.test(userAgent);
    
    // if ios-app
    if (ios && !standalone && !safari ){
    //call function to change 'href' val
    modifyAnchorLink('data-ios-href')
    } // if android-app
    else if(userAgent.indexOf('paytm-android-app') > -1){
    //call function to change 'href' val
    modifyAnchorLink('data-android-href')
    }
    
    
    /** function to change href value of 'anchor' tag
    modType: This will determine the ios or android data-href.
    **/
    
    function modifyAnchorLink(modType){
    // find all 'anchor' tags
    var allLinkRef = document.getElementsByTagName('a');
    // Converting HTML DOM Collection to array.
allLinkArr = Array.prototype.slice.call(allLinkRef);
// check for required 'data-<platform>-href' attribute on each link, and replace the 'href' accordingly.
    allLinkArr.forEach(function(link,index){
var dataAttr = link.getAttribute(modType);
if(dataAttr){
link.setAttribute('href',dataAttr);
}
});
    }
</script>
<script>
  !function(){window.visibly={q:document,p:void 0,prefixes:["webkit","ms","o","moz","khtml"],props:["VisibilityState","visibilitychange","Hidden"],m:["focus","blur"],visibleCallbacks:[],hiddenCallbacks:[],genericCallbacks:[],_callbacks:[],cachedPrefix:"",fn:null,onVisible:function(i){"function"==typeof i&&this.visibleCallbacks.push(i)},onHidden:function(i){"function"==typeof i&&this.hiddenCallbacks.push(i)},getPrefix:function(){if(!this.cachedPrefix)for(var i=0;b=this.prefixes[i++];)if(b+this.props[2]in this.q)return this.cachedPrefix=b,this.cachedPrefix},visibilityState:function(){return this._getProp(0)},hidden:function(){return this._getProp(2)},visibilitychange:function(i){"function"==typeof i&&this.genericCallbacks.push(i);var t=this.genericCallbacks.length;if(t)if(this.cachedPrefix)for(;t--;)this.genericCallbacks[t].call(this,this.visibilityState());else for(;t--;)this.genericCallbacks[t].call(this,arguments[0])},isSupported:function(i){return this._getPropName(2)in this.q},_getPropName:function(i){return""==this.cachedPrefix?this.props[i].substring(0,1).toLowerCase()+this.props[i].substring(1):this.cachedPrefix+this.props[i]},_getProp:function(i){return this.q[this._getPropName(i)]},_execute:function(i){if(i){this._callbacks=1==i?this.visibleCallbacks:this.hiddenCallbacks;for(var t=this._callbacks.length;t--;)this._callbacks[t]()}},_visible:function(){window.visibly._execute(1),window.visibly.visibilitychange.call(window.visibly,"visible")},_hidden:function(){window.visibly._execute(2),window.visibly.visibilitychange.call(window.visibly,"hidden")},_nativeSwitch:function(){this[this._getProp(2)?"_hidden":"_visible"]()},_listen:function(){try{this.isSupported()?this.q.addEventListener(this._getPropName(1),function(){window.visibly._nativeSwitch.apply(window.visibly,arguments)},1):this.q.addEventListener?(window.addEventListener(this.m[0],this._visible,1),window.addEventListener(this.m[1],this._hidden,1)):this.q.attachEvent&&(this.q.attachEvent("onfocusin",this._visible),this.q.attachEvent("onfocusout",this._hidden))}catch(i){}},init:function(){this.getPrefix(),this._listen()}},this.visibly.init()}(),function(){"use strict";var i,t=200,e={android:{store_prefix:"https://play.google.com/store/apps/details?id=",test:/Android/i},iOS:{store_prefix:"https://itunes.apple.com/en/app/id",test:/iPhone|iPad|iPod/i}};function n(){clearTimeout(i),i=null,window.removeEventListener("pagehide",n)}for(var s=function(s){var a,o,r=function(){var i;for(i in e)if(navigator.userAgent.match(e[i].test))return i}(),c=s.getAttribute("href"),l=s.getAttribute("data-app-"+r)||s.getAttribute("data-app"),h=s.getAttribute("data-store-"+r)||s.getAttribute("data-store");l&&(c||s.setAttribute("href",l),location.search.indexOf("webview")>-1?s.onclick=function(i){i.preventDefault(),i.stopImmediatePropagation(),location.href=l}:(r?s.onclick=function(s){s.preventDefault(),s.stopImmediatePropagation(),function(e,s,a){if("android"==e){location.href=s;var o=(new Date).valueOf();i=setTimeout(function(){(new Date).valueOf()-o>2*t||(location.href=a)},t)}else{var r=document.createElement("IFRAME");r.setAttribute("style","display:none"),r.setAttribute("id","appIframe"),document.body.appendChild(r),document.getElementById("appIframe").setAttribute("src",s),location.href=s,o=(new Date).valueOf(),i=setTimeout(function(){var i=document.getElementById("appIframe");i.parentNode.removeChild(i),(new Date).valueOf()-o>2*t||(location.href=a)},t)}window.addEventListener("pagehide",n)}(r,l,e[r].store_prefix+h)}:c&&"#"!==c||(s.style.display="none"),visibly.onHidden(function(){a&&o&&(o=clearInterval(o),a=!1)})))},a=document.getElementsByTagName("a"),o=a.length;o--;)s(a[o])}();
</script>

<!-- Google Tag Manager -->
<amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-5J83KLV&amp;gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>



<div style="display: none; visibility: hidden;"><script>var gdr_gs_product_impression=0,gs_grand_total_for_gdr=0,gs_product_ids_for_gdr="",gs_page_type_for_gdr="",gdr_user_id="",tag_fired_on_url="";function isEcPresent(a){return dataLayer[a].hasOwnProperty("ecommerce")}function isPropPresent(a,b){return dataLayer[a].ecommerce.hasOwnProperty(b)}
function getPageUrlFromDL(){try{for(var a=0;a<dataLayer.length;a++)if(dataLayer[a].hasOwnProperty("tag_fired_on"))return dataLayer[a].tag_fired_on}catch(b){a=document.createElement("img"),a.src="https://script.google.com/macros/s/AKfycbwdNmnukVWDVVUG0WD2GZQu6UH7lLyj5ublWoNkdKnGPhCex90/exec?ErrorMessage\x3d"+b.message+"\x26PageType\x3d"+google_tag_manager["GTM-PTT2P2"].macro(3)+"\x26tag\x3dgetPageUrlFromDL"}}
function searchDlForPi(){try{gs_product_ids_for_gdr=[];gs_grand_total_for_gdr=0;for(var a=dataLayer.length-1;0<=a&&3!=gs_product_ids_for_gdr.length;a--)if(isEcPresent(a)&&isPropPresent(a,"impressions")){var b=dataLayer[a].ecommerce.impressions;gs_grand_total_for_gdr+=b[0].price;gs_product_ids_for_gdr.push(b[0].id)}}catch(c){a=document.createElement("img"),a.src="https://script.google.com/macros/s/AKfycbwdNmnukVWDVVUG0WD2GZQu6UH7lLyj5ublWoNkdKnGPhCex90/exec?ErrorMessage\x3d"+c.message+"\x26PageType\x3d"+
google_tag_manager["GTM-PTT2P2"].macro(4)+"\x26tag\x3dsearchDlForPi"}}
function push_gdr_to_dl(){try{tag_fired_on_url!=getPageUrlFromDL()&&dataLayer.push({event:"fire_gdr_tag",grand_total_for_gdr:gs_grand_total_for_gdr,product_ids_for_gdr:gs_product_ids_for_gdr,page_type_for_gdr:gs_page_type_for_gdr,gdr_user_id:gdr_user_id,tag_fired_on:tag_fired_on_url})}catch(b){var a=document.createElement("img");a.src="https://script.google.com/macros/s/AKfycbwdNmnukVWDVVUG0WD2GZQu6UH7lLyj5ublWoNkdKnGPhCex90/exec?ErrorMessage\x3d"+b.message+"\x26PageType\x3d"+google_tag_manager["GTM-PTT2P2"].macro(5)+
"\x26tag\x3dpush_gdr_to_dl"}};</script></div><div style="display: none; visibility: hidden;"><script>var placeholder=document.getElementById("message-placeholder"),start=(new Date(2014,2,3,4,0,10,0)).getTime(),end=(new Date(2014,2,3,4,30,10,0)).getTime(),now=Date.now();placeholder&&placeholder.length&&(placeholder.style.display="none");</script></div></body>

</html>

